<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunsound</title>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/update.css"/>
    <script
    src="https://kit.fontawesome.com/ebbc506540.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="I:/fontawesome/css/fontawesome.css"
  />
  <link rel="shortcut icon" type="image/png" href="/image/favicon.png" />
  </head>
  <body>
    <header id="home" style="position: static; background: ivory">
        <img
          class="logo"
          src="/image/logo.png"
          alt="Not found"
          onclick="dieuhuonglogo();"
        />
        <nav>
          <ul class="nav_links">
            <li><a href="#" onclick="dieuhuonglogo();">Trang chủ</a></li>
            <li>
              <a href="#" onclick="dieu_huongvechungtoi();">Về chúng tôi</a>
            </li>
            <li><a href="#" onclick="dieu_huongsanpham();">Sản phẩm</a></li>
            <li><a href="#" onclick="dieu_huongdonhang();">Đơn hàng</a></li>
            <li><a href="#" onclick="dieu_huongtintuc();">Tin tức</a></li>
            <li>
              <a href="#" onclick="dieu_huongquanhedt();">Quan hệ đối tác</a>
            </li>
            <li><a href="#" onclick="dieu_huongphanhoi();">Phản hồi</a></li>
            <li><a href="#" onclick="dieu_huonglienhe();">Giỏ hàng</a></li>
          </ul>
        </nav>
      </header>
    <div class="main-block">
      <form action="/updateOrder" method="POST" style="margin: 300px; border-radius: 20px ;">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Phiếu thay đổi thông tin đơn hàng</h2>
        </div>
        <div class="info">
          <input class="fname" name="fullname" placeholder="Tên sản phẩm" value="<%= dataUser.fullname %>"/>
          <input name="amount" placeholder="Số lượng" value="<%= dataUser.amount %>" required/>
          <input name="customername" placeholder="Tên khách hàng" value="<%= dataUser.customername %>" required/>
          <input name="phoneNumber" placeholder="Số điện thoại" value="<%= dataUser.phoneNumber %>" required/>
          <input name="address" placeholder="Địa chỉ" value="<%= dataUser.address %>" required/>
          <input type="text" name="id" hidden value="<%= dataUser.id %>" required/>
          <!-- <select>
            <option value="course-type" selected>Course type*</option>
            <option value="short-courses">Short courses</option>
            <option value="featured-courses">Featured courses</option>
            <option value="undergraduate">Undergraduate</option>
            <option value="diploma">Diploma</option>
            <option value="certificate">Certificate</option>
            <option value="masters-degree">Masters degree</option>
            <option value="postgraduate">Postgraduate</option>
          </select> -->
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkbox"><span>Tôi đồng ý với <a href="https://www.w3docs.com/privacy-policy">Điều khoản và Điều kiện</a><span> thay đổi thông tin đơn hàng</span>
        </div>
        <button type="submit" href="/">Lưu thay đổi</button>
      </form>
    </div>
  </div>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>